<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aaysaagp.bot">
  <application
    android:label="AAYSAAGP Bot"
    android:icon="@mipmap/ic_launcher">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>